body{
  background-color: white;
  font-family: 'Roboto' ;
}

h1{
  font-family: 'Roboto';
  color:black;
}

h2{
  font-family: 'Roboto';
  color:black;
}

h4{
  font-family: 'Roboto';
  color:black;
}

.card_body{
  font-family: 'Roboto';
  color:black;
}

p{
  font-family: 'Roboto' ;
  color:black;
}

.card-img-top {
  width: 100%;
}

.card-img-bottom {
  width: 100%;
}